<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <!-- Huyen workspace -->
    <div class="header"></div>
    <!-- end workspace -->
    <div class="container">{% block content %}{% endblock %}</div>

    <!-- Vu workspace -->
    <div class="tab-content container">
      <div class="data-market__top overflow-x-auto">
        <form class="data-market__search data-market__width">
          <select class="data-market__select">
            {% for id in ['VNINDEX', 'VNDIAMOND', 'VNFINSELECT'] %}
            <option value="{{id}}">{{id}}</option>
            {% endfor %}
          </select>
          <div class="react-datepicker-wrapper">
            <div class="react-datepicker__input-container">
              <input
                type="text"
                placeholder="Từ ngày"
                class="data-market__date data-market__from"
                value=""
              />
            </div>
          </div>
          <div class="react-datepicker-wrapper">
            <div class="react-datepicker__input-container">
              <input
                type="text"
                placeholder="Đến ngày"
                class="data-market__date data-market__to"
                value=""
              />
            </div>
          </div>
          <button class="btn btn--primary btn--small" style="outline: none">
            Tìm kiếm
          </button>
        </form>
      </div>
      <table class="data-market__width">
        <thead>
          <tr style="color: darkorange">
            <th class="sticky-code sticky-left">Ngày</th>
            <th>Thay đổi</th>
            <th>Giá mở cửa</th>
            <th>Giá thấp nhất</th>
            <th>Giá mở cửa</th>
            <th>Giá đóng cửa</th>
            <th>Khối lượng giao dịch</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="sticky-code sticky-left">24/04/2024</td>
            <td style="color: #34c763 !important">+28.21<br />(+2.40%)</td>
            <td>1,186.47</td>
            <td>1,185.13</td>
            <td>1,207.61</td>
            <td>1,205.61</td>
            <td>820,079,823</td>
          </tr>
          <tr>
            <td class="sticky-code sticky-left">23/04/2024</td>
            <td style="color: #ff453a !important">-12.82<br />(-1.08%)</td>
            <td>1,190.56</td>
            <td>1,169.61</td>
            <td>1,192.80</td>
            <td>1,177.40</td>
            <td>672,941,708</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- end workspace -->

    <div class="footer"></div>
    <script
      type="text/javascript"
      src="{{url_for('static', filename='index.js')}}"
    ></script>
  </body>
</html>
