{% extends 'base.html' %}
{% block content %}
<div class="row">
  <!-- Ban workspace -->
  <div class="col-7"></div>
  <!-- end workspace -->

  <!-- Hoan workspace -->
  <div class="col-5"></div>
  <!-- end workspace -->
</div>

<!-- Vu workspace -->
<div class="tab-content container">
  <div class="data-market__top overflow-x-auto container">
    <form class="data-market__search data-market__width" method="POST">
      <select class="data-market__select">
        {% for id in ids['ID'].values %}
        <option class="ticker" value="{{id}}">{{id}}</option>
        {% endfor %}
      </select>
      <div class="react-datepicker-wrapper">
        <div class="react-datepicker__input-container">
          <input
            type="text"
            placeholder="Từ ngày"
            class="data-market__date data-market__from"
            value=""
          />
        </div>
      </div>
      <div class="react-datepicker-wrapper">
        <div class="react-datepicker__input-container">
          <input
            type="text"
            placeholder="Đến ngày"
            class="data-market__date data-market__to"
            value=""
          />
        </div>
      </div>
      <button class="btn btn--primary" style="outline: none">
        Tìm kiếm
      </button>
    </form>
  </div>
  <table class="data-market__width">
    <thead>
      <tr style="color: darkorange">
        <th class="sticky-code sticky-left">Ngày</th>
        <th>Thay đổi</th>
        <th>Giá mở cửa</th>
        <th>Giá thấp nhất</th>
        <th>Giá mở cửa</th>
        <th>Giá đóng cửa</th>
        <th>Khối lượng giao dịch</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="sticky-code sticky-left">24/04/2024</td>
        <td style="color: #34c763 !important">+28.21<br />(+2.40%)</td>
        <td>1,186.47</td>
        <td>1,185.13</td>
        <td>1,207.61</td>
        <td>1,205.61</td>
        <td>820,079,823</td>
      </tr>
      <tr>
        <td class="sticky-code sticky-left">23/04/2024</td>
        <td style="color: #ff453a !important">-12.82<br />(-1.08%)</td>
        <td>1,190.56</td>
        <td>1,169.61</td>
        <td>1,192.80</td>
        <td>1,177.40</td>
        <td>672,941,708</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- end workspace -->
{% endblock %}
