body * {
  font-family: Roboto, sans-serif;
}

body {
  background-color: #171a23;
  color: #fff;
}

table td,
table th {
  border-bottom: 1px solid #585873;
  line-height: 1.5;
  padding: 8px 10px;
}

table {
  width: 100%;
  text-align: right;
}

.sticky-left {
  text-align: left;
}

.data-market__search {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #585873;
  padding: 20px;
}

.data-market__select {
  border-radius: 4px;
  border: 1px solid #585873;
  background-color: #232836;
  font-size: 12px;
  height: 40px;
  padding: 0 15px;
  width: 600px;
  margin-right: 60px;
  color: #fff;
}

.data-market__date {
  padding: 15px;
  border-radius: 4px;
  border: 1px solid #585873;
  background-color: #232836;
  font-size: 12px;
  max-height: 40px;
  width: 180px; 
  margin: 0 8px;
  color: #fff;
  &::-webkit-input-placeholder {
    color: #fff;
  }
}

.btn--primary {
  border: 2px solid #ff9500;
  border-radius: 30px;
  padding: 8px 24px;
  white-space: nowrap;
  color: black;
  background: #ff9500;
  line-height: 26px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.container {
  width: 1280px;
  max-width: 100%;
}
/* menu Ban */
.menu{
  width: 500px;
  height: 30px;
  display: flex;
  cursor: pointer;
}
.menuText{
  
  margin-right: 10px;
  margin-left: 35px;
}
.selector{
  /* background: #ff9500; */
  width: 100px;
  cursor: pointer;
}

#selectfield{
  width: 100%;
  padding: 15px 20px;
  background-color: #ff9500;
  margin-bottom: 30px;
  box-sizing: border-box;
  background:rgba(195, 111, 2, 0.7);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.choiceStock{
  border: 1px solid black;
  width: 120;
  padding: 0px;
  display: flex;
  background: #ff9500;
  border-radius: 6px;
  list-style: none;
  cursor: pointer;
  box-sizing: border-box;
  position: absolute;
  color: #000;
}
#choiceStock{
  border: 1px solid black;
  width: 120px;
  border-radius: 6px;
  color: #000;
  text-align: center;
  background: #ff9500;
}
#list{
  cursor: pointer;
  width: 120px;
  background: #ff9500;
  padding: 0px;
  border-radius: 6px;
  overflow: visible;
  position: absolute;
  z-index: 9999;
}
.options{
  cursor: pointer;
  width: 100%;
  list-style: none;
  cursor: pointer;
  border-radius: 6px;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 0px;
}
#textOption{
  color: #000;
  text-align: center;
}
.options:hover{
  background: red;
}
.hide{
  visibility: hidden;
}
/* end menu Ban */